/* CSS Document */
/* DASHBOARD */

/*header2*/



body {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   -webkit-column-rule: #434345;
   -moz-column-rule: #434345;
   -o-column-rule: #434345;
   column-rule: #434345;
	background-color: #f5f7fa;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Roboto", Helvetica, Arial, sans-serif;
 }

h1 {
	font-size: 46px;
	font-weight: lighter;
	color: #006fb8;
}

h2 {
   font-size:28px;
   font-weight:800;
   margin-bottom: 5px;
   color: #434345;
 }
 p {
   font-size:16px;
   line-height: 19px;
   font-weight: 100;
 }

 /* GRID */
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   position: relative;
 }
 .container:before,
 .container:after {
   content: " ";
   display: table;
 }
 .container:after {
   clear: both;
 }
 .one-half, .one-third, .one-fourth {
   width:96%;
   float:left;
   position:relative;
   min-height: 1px;
   margin:0 2% 20px;
 }

header
{background-color: #ffffff;	
	-webkit-box-shadow: 0px 4px 27px -8px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 4px 27px -8px rgba(0,0,0,0.44);
box-shadow: 0px 4px 27px -8px rgba(0,0,0,0.44);
	height: auto;
	padding: 20px 40px 20px 40px;

}

header ul li
{
	text-decoration: none;
	list-style: none;
}

.searchprofile
{float: right;}



/* LEFT NAVBAR SETTINGS */

/*
.searchprofile {
	float: right;
}

.searchprofile ul li {
	display: inline-block;
}*/

.settings
{
	float: right;
	align-content: center;
}

.btn-outlined
{	border: solid 1px #a3a2a2;
	border-radius: 17px;
	text-align: center;
	align-content: center;
	vertical-align: middle;
	color: #434345;
   display: inline-block;
	padding: 5px 20px 5px 20px;
	margin-top: -17px;
	margin-right: 10px;
	
}

.settings img {
   height:35px;
   width:35px;
   border-radius: 50%;
   margin-left:10px;
   display: inline-block;
 }
 .settings p {
   display: inline-block;
   vertical-align: top;
   padding-top: 8px;
   font-weight: 400;
   margin:0 0 0 10px;
 }
.settings a {
   color:#434345;
	padding-left: 6px;
	font-size: 12px;
   text-decoration: none;
   text-align: left;
   float: left;
   margin-right:10px;
   margin-top:15px;
 }

/* DASHBOARD */
 .dashboard {
   background:#F7F7F7;
 }
.left-nav {
   height: 100vh;
   height: 100%;
   width:14.66666667%;
   width:280px;
   color:#FFFFFF;
   background: #34495E;
   background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
   float:left;
   position: fixed;
   position:absolute;
   display:block;
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(-280px,0);
     -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
     -o-transform: translate(-280px,0); /** Opera **/
     -moz-transform: translate(-280px,0); /** Firefox **/
 }
 .left-nav.open {
   display:block;
   width:280px;
   background: #34495E;
   background-image: linear-gradient(206deg, #306ba9 0%, #107ae6 94%);
   -webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
     z-index: 100;
 }
 .hamburger {
   position:absolute;
   z-index: 1000;
   background:#e1aa3f;
   color:#FFF;
   text-decoration: none;
   font-size: 22px;
   padding: 10px 15px;
   border-radius: 4px;
   right: 5px;
   top: 15px;
 }
@media (min-width:992px) {
   .left-nav {
     height: 100vh;
     width:14.66666667%;
     color:#FFFFFF;
     background: #34495E;
     background-image: linear-gradient(206deg, #5F81A3 0%, #34495E 94%);
     float:left;
     position: fixed;
     display:block;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .left-nav.open {
     width:14.66666667%;
     transform: translate(0,0);
     -webkit-transform: translate(0,0); /** Chrome & Safari **/
     -o-transform: translate(0,0); /** Opera **/
     -moz-transform: translate(0,0); /** Firefox **/
   }
   .hamburger {
     display:none;
   }
 }
@media(max-width:992px){
	.btn-outlined {
		display: none;
	}
	
	.settings p {
		display: none;
	}
	.settings {
		padding-right:20px;
	}
}

@media (max-width: 40em){
	.btn-outlined {
		display: none;
	}
	
	.settings p {
		display: none;
	}
	.settings {
		padding-right:20px;
	}

}


.left-nav {
   height: 100vh;
   width:14.66666667%;
   color:#FFFFFF;
   background: #107ae6;
   background-image: linear-gradient(206deg, #306ba9 0%, #107ae6 94%);
   float:left;
   position: fixed;
   display:block;
 }

 .left-nav .items {
   padding:0 6%;
 }
 .left-nav .items p {
   font-weight: 600;
   text-transform: uppercase;
   font-size: 12px;
   color: #E2E2E2;
   line-height: 15px;
 }
 .left-nav .items ul {
   margin:0 0 40px;
   padding:0;
 }
 .left-nav .items ul li {
   list-style-type: none;
   margin-bottom: 15px;
 }
 .left-nav .items ul li a {
   color:#FFFFFF;
   text-decoration: none;
   font-weight: 100;
 }
 .left-nav .items ul li a i {
   width:16px;
   text-align: center;
   margin-right:8px;
 }
.left-nav .items ul li a:active {
color:#e1aa3f;
}

.left-nav .items ul li a i:active{
	color:#e1aa3f;
	
}

/* CONTENT */

/* Content */

 .content {
   padding:6em 1% 1.5em;
   float:right;
   width:83.4%;
   position: relative;
 }
 .content .heading {
   margin:0 1% 20px;
 }
 .content .heading h1 {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   font-weight: 100;
   margin:0 0 30px;
   font-size: 36px;
   color: #434345;
   line-height: 44px;
   float: left;
   display:inline-block;
 }
 .content .heading > a {
   float:right;
 }
 .content-item {
   width:96%;
   margin:0 2% 25px;
   float:left;
   display:block;
 }
 .item-box {
   display:block;
   height:230px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
   position: relative;
   overflow: hidden;
   padding:20px;
 }

.btn {
	background-color: #e1aa3f;
	padding: 10px 20px 10px 20px;
	color:#fff;
	font-size: 14px;
	border-radius: 30px;
	text-decoration: none;
	
}



 .item-box > img {
   position:absolute;
   height:80%;
   width:auto;
   top:50px;
   left:0;
   right:0;
	 
 }
 .item-box h2 {
   font-family: 'Lato', Helvetica, Arial, sans-serif;
   font-weight: 700;
   font-size: 15px;
   line-height: 17px;
   margin:0;
 }
 .item-box h2 a {
   color: #434345;
   text-decoration: none;
 }
 .item-box h2 img {
   width:16px;
   height:16px;
   position:relative;
   top:2px;
   margin-right:5px;
 }
 .item-box p {
   font-size: 14px;
   color: #333333;
   line-height: 18px;
   margin:5px 0 0;
 }

@media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
	
	.three-fifth {
		width:55.2%
	}
	
	.one-fifth
	{
		width:18.4%
	}

	
	
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 @media screen and (min-width: 1400px) {
  .container {
    width: 1380px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    widssth: 1570px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}

/* Larger Mobile Devices */
 @media (min-width:460px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:90%;
     position: relative;
   }
   .content-item {
     width:46%;
     margin:0 2% 25px;
     float:left;
     display:block;
   }
 }
/* Tablets */
 @media (min-width:768px) {
   .content {
     padding:1.5em 5%;
     float:right;
     width:90%;
     position: relative;
   }
   .content > .container {
     width:550px;
   }
   .content-item {
     width:31.33333%;
     margin:0 1% 25px;
   }
 }
/* Laptops and Desktops */
 @media (min-width:992px) {
   .content {
     padding:1.5em 1%;
     float:right;
     width:83.33333333%;
     position: relative;
   }
   .content > .container {
     width:auto;
   }
   .content-item {
     width:23%;
     margin:0 1% 25px;
   }
 }



